In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [20]:
#Criando os dataframes
e = pd.DataFrame({'first':np.arange(10), 'second':np.random.uniform(5,10, size=(10)), 'third':np.random.uniform(5,20, size=(10))})
i = pd.DataFrame({'high':np.random.bytes(10), 'middle':np.random.uniform(5,10, size=(10)), 'low':np.random.uniform(5,20, size=(10))})
r = pd.DataFrame({'yes':np.random.choice(10,10), 'neutral':np.random.uniform(5,10, size=(10)), 'no':np.random.uniform(5,20, size=(10))})

In [22]:
#Lista com nomes dos dataframes
tbname = ['e','i','r']
#Lista com todos os dados
full = [e,i,r]

In [25]:
full

[   first    second      third
 0      0  9.049015  19.095215
 1      1  5.818365  12.652158
 2      2  5.282754  18.839620
 3      3  9.738339  14.408208
 4      4  8.996726  12.955072
 5      5  6.428354   5.618143
 6      6  6.127177   5.352093
 7      7  9.567855   8.017019
 8      8  8.973024  12.311425
 9      9  8.414496  12.343485,
                                  high        low    middle
 0  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  14.374960  8.006652
 1  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'   8.576754  6.939341
 2  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  16.740658  7.429479
 3  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'   6.496719  8.435300
 4  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  11.221616  5.192842
 5  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  18.643880  5.446951
 6  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'   6.826627  9.828802
 7  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'   6.460736  6.334461
 8  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  16.056631  7.206162
 9  b'\x86\xd3\x00\xa7\xa3\xf7\x99u$K'  17.570454  7.987794,
     neutral         no  yes
 0  8.768194  18.864945    0
 1  7.709639  18.012591    9
 2  5.611253  17.729391    2
 3  8.668279   6.615102    7
 4  7.587263   7.686576    2
 5  8.136612  12.520185    0
 6  6.626386  15.458395    6
 7  8.039009   6.680365    0
 8  9.267758  16.417112    8
 9  6.196943  10.430506    6]

In [26]:
#Obtendo os nomes das colunas de todos os dataframes
clname = []
for i in range(0,len(tbname)):
    columnNames = list(full[i].head(0))
    clname.append(columnNames)

In [27]:
clname

[['first', 'second', 'third'],
 ['high', 'low', 'middle'],
 ['neutral', 'no', 'yes']]

In [82]:
#Criando conexão com banco de dados
con = sqlite3.connect('conxs.db')
curs = con.cursor()

In [84]:
#Criando as tabelas no SQLite a partir dos nomes dos dataframes
for item in range(0,len(tbname)):
    curs.execute("CREATE TABLE IF NOT EXISTS " + tbname[item] + "(" + ','.join(clname[item])+")")

In [85]:
#Varre todas as tabelas e para cada uma é realizado a inserção dos dados

for ind in range(0, len(tbname)):
    query = "INSERT INTO " + str(tbname[ind]) + "(" + ','.join(clname[ind]) + ") VALUES ("+ ','.join(map(str,'?'*len(full[ind].columns))) +")"
    full[ind] = full[ind].astype(str)
    for i in range(0, len(full[ind])):
        insert_register = tuple(full[ind].iloc[i])
        curs.execute(query, insert_register)
        con.commit()

In [95]:
#Visualizando a tabela criada
curs.execute('select * from e')

In [96]:
curs.fetchall()

[('0', '9.04901547145', '19.0952150806'),
 ('1', '5.81836493225', '12.6521577161'),
 ('2', '5.28275393958', '18.8396202586'),
 ('3', '9.73833932764', '14.4082082705'),
 ('4', '8.99672645825', '12.955072491'),
 ('5', '6.42835390642', '5.6181427092'),
 ('6', '6.12717683588', '5.35209267187'),
 ('7', '9.56785509715', '8.0170186659'),
 ('8', '8.97302393987', '12.3114247449'),
 ('9', '8.41449577522', '12.3434851633')]